<section class="footer bg-purple">
  <div class="container  d-flex flex-column align-items-center ">
    <div class="text-center">
      <img src="../../assets/Asset 4.png" alt="" class="img-footer">
    </div>
    <div class="clickable footer-icon ">
      <i class="fab fa-youtube"></i>
      <i class="fab fa-linkedin"></i>
      <i class="fab fa-instagram-square"></i>
      <i class="fab fa-twitter-square"></i>
    </div>
    <div class="container footer-last-icon text-yellow  clickable d-flex justify-content-between">
      <i class="fas fa-arrow-alt-circle-up" (click)="up()" ></i>
      <i class="fas fa-comment"></i>
    </div>
  </div>
</section>
