<section class="sec-one py-5">
  <div class="container text-center">
    <div>
      <h1 class=" main-title-sec-one text-purple">طور متجرك ووسع افاق تجارتك مع سوق تطبيقات زد</h1>
      <p class="sec-title-sec-one">
        طور تجارتك من خلال تطبيقات و حلول سوق تطبيقات زد التي تساعدك
        <br>
        في نمو اربحاك عبر ادارهعمليات متجرك بشكل فعال و احترافي
      </p>
    </div>
    <div>
      <button class=" btn btn-home bg-purple text-yellow  p-3    ">
        تصفح التطبيقات <i class="fas fa-angle-left "></i>
      </button>
    </div>
    <div class="sec-one-img d-flex justify-content-center">
      <img src="../../assets/product03.gif" alt="" class="">
    </div>
  </div>
</section>
<section class="sec-two  my-5">
  <div class="container py-5">
    <div class="row">

      <div class="col-md-6">
        <div>
          <h2 class="text-purple ">
            كل ما تحتاجه لنمو متجرك في مكان وحد
          </h2>
          <p class="fs-5">
            مميزات سوق تطبيقات زد في سهوله و سرعه الاستفاده من خدمات و حلول
            <br>
            سوق التطبيقات لنمو متجرك في مكان وحد
          </p>

        </div>
        <div class="sec-two-icon">
          <div class="d-flex py-3 ">
            <i class=" px-3  fs-1   fab fa-alipay"></i>
            <p class="h6 align-self-end">سهوله ادراةو تفعيل تطبيقاتك من نفس لوحه تحكم متجرك </p>
          </div>
          <div class="d-flex py-3">
            <i class=" px-3  fs-1    fab fa-alipay"></i>
            <p class="h6 align-self-end">دعم فني و تقني متكامل متوفر علي مدار الساعه </p>
          </div>
          <div class="d-flex py-3">
            <i class=" px-3  fs-1   fab fa-alipay"></i>
            <p class="h6 align-self-end">اسعار تنافسية مع تجربه مجانيه و باقات اشترك متنوعه</p>
          </div>
        </div>
        <div>
          <button class=" btn btn-home bg-purple text-yellow  p-3    ">
            تصفح التطبيقات <i class="fas fa-angle-left "></i>
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <div class="sec-two-img d-flex justify-content-center">
            <img src="../../assets/zidapp_1-min.gif" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec-three py-5">
  <div class="container-fluid p-5">
    <div class="text-center">
      <h2>التطبيقات المميزة</h2>
      <p>تطبيقات تقدم حلول و خدمات مميزه نوصي بتجربتها</p>
    </div>
    <div class="row ">
      <div class="col-lg-3 col-md-2  p-3 ">
        <div class="row card-sec-three  ">
          <div class="col-3">
            <div>
              <img src="../../assets/zid-logo.png" alt="" class="img-fluid">
            </div>

          </div>
          <div class="col-9">
            <div>

              <div class="d-flex">
                <h5 class="text-purple">
                  قمرة
                </h5>
                <i class="fa fa-star text-yellow mx-2"></i>
                <p class="text-success">5</p>
              </div>

              <h6 class="">
                طوير: <span class="text-black-50">محمد عوف </span>
              </h6>

              <div>
                <small class="">
                  نظام الولاء الامثل الذي يمكنك من رفع مبيعاتك
                </small>
                <br>
                <small>
                  نظام الولاء الامثل الذي يمكنك من رفع مبيعاتك
                </small>
              </div>

            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-2  p-3 ">
        <div class="row card-sec-three  ">
          <div class="col-3">
            <div>
              <img src="../../assets/zid-logo.png" alt="" class="img-fluid">
            </div>

          </div>
          <div class="col-9">
            <div>

              <div class="d-flex">
                <h5 class="text-purple">
                  قمرة
                </h5>
                <i class="fa fa-star text-yellow mx-2"></i>
                <p class="text-success">5</p>
              </div>

              <h6 class="">
                طوير: <span class="text-black-50">محمد عوف </span>
              </h6>

              <div>
                <small class="">
                  نظام الولاء الامثل الذي يمكنك من رفع مبيعاتك
                </small>
                <br>
                <small>
                  نظام الولاء الامثل الذي يمكنك من رفع مبيعاتك
                </small>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-2  p-3 ">
        <div class="row card-sec-three  ">
          <div class="col-3">
            <div>
              <img src="../../assets/zid-logo.png" alt="" class="img-fluid">
            </div>

          </div>
          <div class="col-9">
            <div>

              <div class="d-flex">
                <h5 class="text-purple">
                  قمرة
                </h5>
                <i class="fa fa-star text-yellow mx-2"></i>
                <p class="text-success">5</p>
              </div>

              <h6 class="">
                طوير: <span class="text-black-50">محمد عوف </span>
              </h6>

              <div>
                <small class="">
                  نظام الولاء الامثل الذي يمكنك من رفع مبيعاتك
                </small>
                <br>
                <small>
                  نظام الولاء الامثل الذي يمكنك من رفع مبيعاتك
                </small>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-2  p-3 ">
        <div class="row card-sec-three  ">
          <div class="col-3">
            <div>
              <img src="../../assets/zid-logo.png" alt="" class="img-fluid">
            </div>

          </div>
          <div class="col-9">
            <div>

              <div class="d-flex">
                <h5 class="text-purple">
                  قمرة
                </h5>
                <i class="fa fa-star text-yellow mx-2"></i>
                <p class="text-success">5</p>
              </div>

              <h6 class="">
                طوير: <span class="text-black-50">محمد عوف </span>
              </h6>

              <div>
                <small class="">
                  نظام الولاء الامثل الذي يمكنك من رفع مبيعاتك
                </small>
                <br>
                <small>
                  نظام الولاء الامثل الذي يمكنك من رفع مبيعاتك
                </small>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center text-yellow m-3">
        <h5 >
          جميع التطبيقات <i class="  sec-3-icon fas fa-angle-left "></i>

        </h5>
    </div>
  </div>
</section>
